@import 'normalize';
@import 'main';

.about {
  .about__title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #080508;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .about__text-strong {
    font-family: $main-font;
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 700;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 18px;
  }
  .about__text {
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 43px;
  }
  .about__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .about__item {
      width: calc(100%/3.1);
      border: .2px solid #e6e6e6;

      @media (max-width: 1200px) {
        width: calc(100%/3);
      }
      @media (max-width: 900px) {
        width: 100%;
      }

      &:hover {
        -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
        transition: all ease-in-out .3s;
      }

      &-img {
        margin-top: 40px;
        display: block;
        margin-inline: auto;
        margin-bottom: 20px;
      }
      &-title {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
        width: 80%;
        margin-inline: auto;
      }
      &-text {
        font-family: $main-font;
        font-size: 14px;
        color: #2b2b2b;
        line-height: 1.55;
        margin-bottom: 40px;
        text-align: center;
        width: 80%;
        margin-inline: auto;
      }
    }
  }

  .data {
    background: #f2f2f2;
    width: 35%;
    margin-inline: auto;
    margin-bottom: 40px;
    padding-bottom: 30px;
    box-shadow: inset 1px 2px 7px 0px rgba(92, 99, 96, 1);

    @media (max-width: 1200px) {
      width: 65%;
    }

    @media (max-width: 700px) {
      width: 90%;
    }
    
    &__title {
      font-family: $main-font;
      font-size: 20px;
      color: $main-color;
      font-weight: bold;
      line-height: 1.35;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 15px;
    }
    &__text {
      padding-left: 40px;
      font-size: 12px;
      max-width: 85%;
      line-height: 40px;
    }
  }
}