@import 'normalize';
@import 'main';

.block {
  width: 80%;
  margin-inline: auto;

  @media (max-width: 1170px) {
    width: 100%;
  }
}

.title {
  font-family: $second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
  // text-transform: uppercase;
  color: #080508;
  margin-top: 40px;
  margin-bottom: 40px;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .option {
    display: flex;
    width: calc(100% / 2.1);
    margin-bottom: 40px;
    padding-left: 20px;

    @media (max-width: 940px) {
      width: 100%;
    }

    .picture {
      margin-right: 20px;
    }

    .content {
      .option__title {
        font-size: 25px;
        margin-bottom: 10px;

      }
      .option__text {
        font-size: 18px;
      }
    }    
  }
}