.footer {
  padding-bottom: 15px;
}

.footer__hr {
  background: #080508;
  opacity: 0.2;
  margin-bottom: 40px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.official {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #777777;
}

.footer-right-col {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 5fr;
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."; 
}

.footer__contacts {
  margin: 0;
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  color: #080508;
  cursor: pointer;
}

.footer__items {
  padding: 0;
}

.footer__item {
  list-style: none;
  font-size: 12px;
  line-height: 15px;
  color: #777777;
  cursor: pointer;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.item__contact:first-child {
  font-size: 16px;
  line-height: 20px;
}

.item__contact:nth-child(1)::before {
  content: url(../img/icons/icon__phone-footer.svg);
  margin-right: 10px;
}

.item__contact:nth-child(2)::before {
  content: url(../img/icons/icon__email-footer.svg);
  margin-right: 10px;
}

.item__contact:nth-child(3)::before {
  content: url(../img/icons/icon__insta-footer.svg);
  margin-right: 10px;
}

@media(max-width: 1360px) {
  .footer-right-col {
    grid-template-columns: .8fr .7fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 5fr;
  }
}

@media(max-width: 1230px) {
  .footer__wrapper {
    grid-template-columns: .7fr 3fr;
  }
  .foorer-left-col {
    margin-right: 10px;
  }
}

@media(max-width: 1050px) {
  .footer__wrapper {
    grid-template-columns: 1fr 2fr;
}
  .footer-right-col {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 30px auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "footer__titles ."
      "footer__titles ."; 
  }
  .items-hidden {
    display: none;
  }
}

@media(max-width: 640px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .foorer-left-col {
      /* margin-right: 10px; */
      margin: 0 auto;
      text-align: center;
  }

  .footer-right-col {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
  }

  .footer__title {
      margin-bottom: 15px;
  }
}